
<section class="answers">
  <div class="container">

    <div class="answers__test-result">
      <div class="answers__test-result-subname">
        Результат прохождения теста
      </div>
      <img src="../imagesimages/right-arrow.png" alt="">
      <div class="answers__test-result-name" id="pre-title">
      </div>
    </div>

    <h1 class="answers-title common-title"><span>Правильные ответы</span> к тесту</h1>
    <div class="answer-user">Тест выполнил <span></span></div>
    <div class="answers-container" id="answers-container">

      <div class="question">

      </div>


    </div>

    <a href="javascript:history.back()" class="answers__link-prev">
      Обратно к моему результату теста
      <img src="/images/link-arrow.png" alt="arrow">
    </a>
  </div>
</section>
